<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adayo.app.btphone"
    android:sharedUserId="android.uid.system">

    <application
        android:name=".BTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HN6C17A">
<!--                android:persistent="true">-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="locale|keyboard|keyboardHidden|screenSize|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.BlueToothCallService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <!--            android:persistent="true">-->
            <intent-filter>
                <action android:name="com.adayo.bluetooth.action.LOCAL_BLUETOOTH_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name="com.adayo.bpresenter.bluetooth.services.LocalBluetoothService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">

            <!--
           蓝牙电话和蓝牙音乐不在同一个APP时，需配置下面Action的蓝牙电话服务，并且在守护进程拉起该服务
           <intent-filter>
               <action android:name="com.adayo.bluetooth.hfp.action.LOCAL_BLUETOOTH_SERVICE"></action>
           </intent-filter>
            -->
            <!-- 如蓝牙电话和蓝牙音乐在同一个APP时，只需配置一个服务即可，使用下面Action，并且在守护进程拉起该服务 -->
            <intent-filter>
                <action android:name="com.adayo.bluetooth.hfp.action.LOCAL_BLUETOOTH_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>