*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/btsetting/build/

/btsetting_theme_orange/build/.transforms/a7b89771905867ef8ad8ced8b05d1941/classes/classes.dex
/btsetting_theme_orange/build/.transforms/f7622e71cad458956010c1df8b71e5c0/classes/classes.dex
/btsetting_theme_orange/build/.transforms/a7b89771905867ef8ad8ced8b05d1941.bin
/btsetting_theme_orange/build/.transforms/f7622e71cad458956010c1df8b71e5c0.bin
/btsetting_theme_orange/build/generated/source/buildConfig/debug/com/adayo/btsetting/BuildConfig.java
/btsetting_theme_orange/build/generated/source/buildConfig/release/com/adayo/btsetting/BuildConfig.java
/btsetting_theme_orange/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/btsetting_theme_orange/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
/btsetting_theme_orange/build/intermediates/aapt_friendly_merged_manifests/release/aapt/AndroidManifest.xml
/btsetting_theme_orange/build/intermediates/aapt_friendly_merged_manifests/release/aapt/output.json
/btsetting_theme_orange/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/btsetting_theme_orange/build/intermediates/annotation_processor_list/release/annotationProcessors.json
/btsetting_theme_orange/build/intermediates/compile_library_classes_jar/debug/classes.jar
/btsetting_theme_orange/build/intermediates/compile_library_classes_jar/release/classes.jar
/btsetting_theme_orange/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
/btsetting_theme_orange/build/intermediates/compile_only_not_namespaced_r_class_jar/release/R.jar
/btsetting_theme_orange/build/intermediates/compile_symbol_list/debug/R.txt
/btsetting_theme_orange/build/intermediates/compile_symbol_list/release/R.txt
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/anim_dialog_enter.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/anim_dialog_exit.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_button_off.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_button_on.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_button_simple_big.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_frame_last_wifi.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_icon_big_bt.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_icon_bluetooth_is_not_connected.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_icon_connected.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_icon_delete_n.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_icon_delete_p.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_icon_loading_small.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_icon_refresh_n.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_icon_refresh_p.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_line_bt.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_offroad_system_settings_button_switch_off_last.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_offroad_system_settings_button_switch_on_last.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_offroad_system_settings_button_switch_yuan.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_offroad_system_settings_high_match_frame_wifi_last_n.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_offroad_system_settings_high_match_frame_wifi_last_sel.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_popup_background_btsetting.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_popup_background_small_btsetting.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable_selector_bt_delete.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable_selector_bt_refresh.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable_selector_btn_two.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/drawable_selector_toggle_switch.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/layout_bt_dlg_bt_pairing.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/layout_bt_dlg_cfm.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/layout_bt_dlg_delete.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/layout_bt_dlg_disconnect.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/layout_bt_dlg_phone_req.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/layout_bt_dlg_toast.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/layout_bt_fragment_conn_bt.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/layout_bt_item_hispair.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/debug/out/layout_bt_paired_item_layout.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/anim_dialog_enter.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/anim_dialog_exit.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_button_off.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_button_on.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_button_simple_big.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_frame_last_wifi.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_icon_big_bt.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_icon_bluetooth_is_not_connected.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_icon_connected.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_icon_delete_n.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_icon_delete_p.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_icon_loading_small.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_icon_refresh_n.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_icon_refresh_p.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_line_bt.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_offroad_system_settings_button_switch_off_last.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_offroad_system_settings_button_switch_on_last.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_offroad_system_settings_button_switch_yuan.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_offroad_system_settings_high_match_frame_wifi_last_n.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_offroad_system_settings_high_match_frame_wifi_last_sel.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_popup_background_btsetting.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable-mdpi-v4_popup_background_small_btsetting.png.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable_selector_bt_delete.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable_selector_bt_refresh.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable_selector_btn_two.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/drawable_selector_toggle_switch.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/layout_bt_dlg_bt_pairing.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/layout_bt_dlg_cfm.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/layout_bt_dlg_delete.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/layout_bt_dlg_disconnect.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/layout_bt_dlg_phone_req.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/layout_bt_dlg_toast.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/layout_bt_fragment_conn_bt.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/layout_bt_item_hispair.xml.flat
/btsetting_theme_orange/build/intermediates/compiled_local_resources/release/out/layout_bt_paired_item_layout.xml.flat
/btsetting_theme_orange/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
/btsetting_theme_orange/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/btsetting_theme_orange/build/intermediates/incremental/mergeDebugShaders/merger.xml
/btsetting_theme_orange/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
/btsetting_theme_orange/build/intermediates/incremental/mergeReleaseShaders/merger.xml
/btsetting_theme_orange/build/intermediates/incremental/packageDebugAssets/merger.xml
/btsetting_theme_orange/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
/btsetting_theme_orange/build/intermediates/incremental/packageDebugResources/merged.dir/values-en/values-en.xml
/btsetting_theme_orange/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/btsetting_theme_orange/build/intermediates/incremental/packageDebugResources/merger.xml
/btsetting_theme_orange/build/intermediates/incremental/packageReleaseAssets/merger.xml
/btsetting_theme_orange/build/intermediates/incremental/packageReleaseResources/merged.dir/values/values.xml
/btsetting_theme_orange/build/intermediates/incremental/packageReleaseResources/merged.dir/values-en/values-en.xml
/btsetting_theme_orange/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
/btsetting_theme_orange/build/intermediates/incremental/packageReleaseResources/merger.xml
/btsetting_theme_orange/build/intermediates/incremental/release-mergeNativeLibs/merge-state
/btsetting_theme_orange/build/intermediates/javac/debug/classes/com/adayo/btsetting/BuildConfig.class
/btsetting_theme_orange/build/intermediates/javac/release/classes/com/adayo/btsetting/BuildConfig.class
/btsetting_theme_orange/build/intermediates/library_manifest/debug/AndroidManifest.xml
/btsetting_theme_orange/build/intermediates/library_manifest/release/AndroidManifest.xml
/btsetting_theme_orange/build/intermediates/local_only_symbol_list/debug/R-def.txt
/btsetting_theme_orange/build/intermediates/local_only_symbol_list/release/R-def.txt
/btsetting_theme_orange/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/btsetting_theme_orange/build/intermediates/manifest_merge_blame_file/release/manifest-merger-blame-release-report.txt
/btsetting_theme_orange/build/intermediates/merged_manifests/debug/output.json
/btsetting_theme_orange/build/intermediates/merged_manifests/release/output.json
/btsetting_theme_orange/build/intermediates/navigation_json/debug/navigation.json
/btsetting_theme_orange/build/intermediates/navigation_json/release/navigation.json
/btsetting_theme_orange/build/intermediates/packaged_res/debug/anim/dialog_enter.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/anim/dialog_exit.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable/selector_bt_delete.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable/selector_bt_refresh.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable/selector_btn_two.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable/selector_toggle_switch.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/button_off.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/button_on.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/button_simple_big.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/frame_last_wifi.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/icon_big_bt.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/icon_bluetooth_is_not_connected.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/icon_connected.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/icon_delete_n.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/icon_delete_p.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/icon_loading_small.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/icon_refresh_n.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/icon_refresh_p.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/line_bt.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/offroad_system_settings_button_switch_off_last.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/offroad_system_settings_button_switch_on_last.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/offroad_system_settings_button_switch_yuan.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/offroad_system_settings_high_match_frame_wifi_last_n.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/offroad_system_settings_high_match_frame_wifi_last_sel.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/popup_background_btsetting.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/drawable-mdpi-v4/popup_background_small_btsetting.png
/btsetting_theme_orange/build/intermediates/packaged_res/debug/layout/bt_dlg_bt_pairing.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/layout/bt_dlg_cfm.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/layout/bt_dlg_delete.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/layout/bt_dlg_disconnect.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/layout/bt_dlg_phone_req.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/layout/bt_dlg_toast.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/layout/bt_fragment_conn_bt.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/layout/bt_item_hispair.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/layout/bt_paired_item_layout.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/values/values.xml
/btsetting_theme_orange/build/intermediates/packaged_res/debug/values-en/values-en.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/anim/dialog_enter.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/anim/dialog_exit.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable/selector_bt_delete.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable/selector_bt_refresh.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable/selector_btn_two.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable/selector_toggle_switch.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/button_off.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/button_on.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/button_simple_big.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/frame_last_wifi.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/icon_big_bt.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/icon_bluetooth_is_not_connected.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/icon_connected.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/icon_delete_n.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/icon_delete_p.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/icon_loading_small.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/icon_refresh_n.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/icon_refresh_p.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/line_bt.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/offroad_system_settings_button_switch_off_last.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/offroad_system_settings_button_switch_on_last.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/offroad_system_settings_button_switch_yuan.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/offroad_system_settings_high_match_frame_wifi_last_n.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/offroad_system_settings_high_match_frame_wifi_last_sel.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/popup_background_btsetting.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/drawable-mdpi-v4/popup_background_small_btsetting.png
/btsetting_theme_orange/build/intermediates/packaged_res/release/layout/bt_dlg_bt_pairing.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/layout/bt_dlg_cfm.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/layout/bt_dlg_delete.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/layout/bt_dlg_disconnect.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/layout/bt_dlg_phone_req.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/layout/bt_dlg_toast.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/layout/bt_fragment_conn_bt.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/layout/bt_item_hispair.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/layout/bt_paired_item_layout.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/values/values.xml
/btsetting_theme_orange/build/intermediates/packaged_res/release/values-en/values-en.xml
/btsetting_theme_orange/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/btsetting_theme_orange/build/intermediates/runtime_library_classes_jar/release/classes.jar
/btsetting_theme_orange/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/btsetting_theme_orange/build/intermediates/symbol_list_with_package_name/release/package-aware-r.txt
/btsetting_theme_orange/build/outputs/logs/manifest-merger-debug-report.txt
/btsetting_theme_orange/build/outputs/logs/manifest-merger-release-report.txt
